# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# ============================
# Odoo généré
# ============================

odoo.conf
*.log
filestore/
sessions/

# ============================
# Base de données
# ============================

*.sql
*.dump
*.backup

# ============================
# Archives
# ============================

*.zip

# ============================
# IDE / OS
# ============================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ============================
# Node
# ============================

node_modules/