<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="menu_construction_root"
        name="Construction Management"
        sequence="10"/>

    <menuitem
        id="menu_construction_dwg_dashboard"
        name="Dashboard"
        parent="menu_construction_root"
        action="action_construction_dwg_files"
        sequence="1"/>

    <menuitem
        id="menu_construction_dwg_files"
        name="Fichiers dwg"
        parent="menu_construction_root"
        action="action_construction_dwg_files"
        sequence="1"/>


</odoo>